@model Product

<h2>Редагувати продукт</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Назва</label>
        <input type="text" class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Опис</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Ціна</label>
        <input type="number" step="0.01" class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Кількість</label>
        <input type="number" class="form-control" asp-for="Amount">
        <span class="text-danger" asp-validation-for="Amount"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Категорія</label>
        <select class="form-control" asp-for="CategoryId">
            <option value="">Оберіть категорію</option>
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>

    <div class="mb-3">
         <img src="@Model.Image" alt="Alternate Text" />
    </div>



    <button type="submit" class="btn btn-success">Зберегти</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
